@import "../../scss//variables";

.preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  h2 {
    font-size: 1.5rem;
    color: $accent-color;
  }
}
