@import "../../scss/variables";

.button{
  $self: &;
  position: relative;
  display: inline-flex;
  padding: 0;
  align-items: center;
  font-family: "Poppins", sans-serif;
  outline: 0;
  border: 0;
  width: 5.5rem;
  height: 1.25rem;
  border-radius: $border-radius;
  font-size: $fsz-mini;
  line-height: 0.9375rem;
  color: #f2f6f7;
  background: $accent-color;
  text-transform: capitalize;

  &:hover {
     #{$self}__dropdown {
          display: block;
      }
  }

  &__icon {
    width: $fsz-small;
    height: $fsz-small;
    margin-right: $fsz-middle;
    margin-left: 9px;
  }

  &__indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    margin-left: 6px;
    border-radius: 50%;
    background-color: #000;

    &--working {
      background-color: $warning-color;
    }

    &--online {
      background-color: $success-color;
    }

    &--offline {
      background-color: $danger-color;
    }
  }

  &--dropdown {
    #{$self}__arrow {
      width: 10px;
      height: 5.61px;
      margin-left: 8px;
    }

    #{$self}__dropdown {
      position: absolute;
      left: 0;
      top: calc(100% + 2px);
      width: 100%;
      display: none;
    }

    #{$self}__dropdown-item {
      background-color: $accent-color;
      padding: 2px 4px;
      &:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.25rem 0.25rem;
      }

      &:hover {
        background-color: rgba($accent-color, 0.5);
      }
    }
  }

  &--pink {
    background-color: #f7b6b4;
  }
}
