/*********************************************************************
********************************   COLORS   **************************
**********************************************************************/

$accent-color: #6588de;
$primary-color: #e3f6fc;
$secondary-color: #f3ba4a;

$success-color: #46d362;
$warning-color: #f3ba4a;
$danger-color: #fd2828;

$text-color: #52585d;
$text-color-light: #96a9ba;

/*********************************************************************
********************************   COLORS  END ***********************
**********************************************************************/

/*********************************************************************
********************************   FONTS   **************************
**********************************************************************/

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-regular: 400;
$fw-medium: 500;
$fw-light: 300;

$fsz-big: 1.125rem;
$fsz-normal: 1rem;
$fsz-middle: 0.875rem;
$fsz-small: 0.75rem;
$fsz-mini: 0.625rem;

/*********************************************************************
********************************   FONTS  END ************************
**********************************************************************/

/*********************************************************************
********************************   SHADOWS ***************************
**********************************************************************/

$box-shadow: 0rem 0.5rem 2.5rem;

/*********************************************************************
********************************   SHADOWS END   *********************
**********************************************************************/

/*********************************************************************
********************************   BORDER ***************************
**********************************************************************/

$border-radius: 0.875rem;

/*********************************************************************
********************************   BORDER END   **********************
**********************************************************************/
